@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --out_marg: 15px;
  --bgColor: #1e90ff;
  --color: #ffffff;
  --spacing: 0.03em;
  --f1: 12px;
  --f2: 15px;
  --f3: 43px;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bgColor);
  color: var(--color);
  font-weight: 400;
  font-size: var(--f2);
  line-height: 1.3em;
  /* margin: var(--out_marg); */
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* justify-content: center; */
  height: 100vh;
  /* align-content: stretch;
  align-items: stretch; */
}

.withimg {
  /* width: 50%; */
  /* height: 100%; */
}

.noimg {
  width: 70%;
}

nav ul {
  list-style: none;
}

/* ----------------------responsive nav------------------ */
.mobile_nav {
  display: none;
  /* visibility: hidden; */
}

/* ----------------------responsive nav------------------ */
h3 {
  font-size: var(--f2);
  font-weight: 600;
  /* text-transform: uppercase; */
  font-style: italic;
  font-weight: 700;
  /* font-weight: 400; */
  letter-spacing: var(--spacing);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color);
}

p a {
  text-decoration: none;
  /* border-bottom: 1.4px solid var(--color); */
  font-style: italic;
  font-weight: 700;
  letter-spacing: var(--spacing);
  /* color: orange; */
  /* background: var(--color);
  color: var(--bgColor); */
}

.header {
  position: fixed;
  /* background: var(--bgColor); */
  /* right: 10px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; */
  width: 100%;
  height: auto;
  /* flex-basis: auto; */
  padding-top: var(--out_marg);
  padding-top: 15px;
  /* background: pink; */
  /* padding: var(--out_marg); */
  /* text-transform: uppercase; */
  /* display: flex;
  justify-content: flex-end; */
  /* margin-right: -1rem;
  margin-left: -1rem;
  margin-bottom: 6rem; */
}

.header .container {
  /* background: red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: baseline;
  /* position: fixed; */
}

.tiny_title {
  margin-left: var(--out_marg);
  font-size: var(--f1);
  font-style: italic;
}

figcaption {
  font-size: var(--f1);
  font-style: italic;
  margin-top: 5px;
  margin-bottom: var(--out_marg);
}

.footer {
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-end; */
  /* flex-basis: auto; */
}

.logo {
  /* font-weight: 500;
  cursor: pointer; */
  display: flex;
}

a:hover {
  font-style: normal;
}

.topnav {
  margin-right: var(--out_marg);
  /* position: fixed; */
  right: 0;
  font-weight: 600;
  font-style: italic;
  font-weight: 700;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  /* letter-spacing: 5px; */
  /* font-style: italic; */
  /* background: lightgreen; */
}

.topnav ul {
  display: flex;
  /* flex-direction: row; */
}

.topnav li {
  display: block;
  padding-right: 1.7em;
}

.topnav li:last-child {
  padding-right: 0;
}

.footer {
  position: fixed;
  display: flex;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), var(--bgColor) 75%);
  color: white;
  height: 15vh;
}

.footer.ohne {
  background-image: none;
  height: auto;
}

/* .footer h1 {
  font-size: 65px;
} */
.footer img {
  padding-left: var(--out_marg);
  padding-bottom: var(--out_marg);
  width: 20vh;
}

.logo {
  padding-left: var(--out_marg);
  padding-bottom: var(--out_marg);
  width: 35vh;
}

ul {
  list-style-position: inside;
  list-style-type: "... ";
}

li {
  /* text-indent:-20px;
margin-left:20px; */
  text-indent: -1em;
  margin-left: 1em;
}

/* ----------------call----------------- */
/* -------------about------------- */
main {
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin: 0 var(--out_marg);
}

p {
  padding: 0.3em 0;
}

/* section {
  width:100%;
min-height:100%;
float:left;
position:relative
} */
/* -------------drag------------- */
#cir {
  width: 90px;
  height: 90px;
  /* background: var(--bgColor); */
  border: 2px solid var(--color);
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 50px;
  /* z-index: -100000; */
  /* filter: invert(); */
  /* mix-blend-mode: difference; */
  display: none;
}

/* .answer {
  display: none;
  overflow: hidden;
}

button {
  border: none;
  background: var(--bgColor);
  color: var(--color);
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;
} */
/* .image {
  width: 40vw;
  height: 60vh;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 10000;
}

.image img {
  width: 100%;
  height : 100%;
  object-fit: cover;
  border-radius: 15px;
} */
/* ---------------bildbeitrag---------------- */
/* .test {
  background: red;
  width: 100vw;
  display: flex;
  flex-grow: 1;
} */
.author {
  font-size: var(--f1);
  font-style: italic;
  width: 35em;
}

@media (max-width: 900px) {

  :root {
    --out_marg: 15px;
    --f1: 12px;
    --f2: 17px;
    --f3: 43px;
  }

  .noimg {
    width: auto;
  }


  .tiny_title {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .header {
    padding-top: 0;
  }

  .container {
    background: none;
    height: auto;
    flex-direction: column;
    padding: var(--out_marg);
  }

  .topnav {
    /* background: lightgreen; */
    height: auto;
    display: none;
    /* max-height: 0; */

    /* -webkit-transition: max-height 3s ease-in;
    -moz-transition: max-height 3s ease-in;
    -o-transition: max-height 3s ease-in;
    transition: max-height 3s ease-in; */

    /* transform: translateY(-2em); */
    /* transition: transform 3s; */
    /* transition: all 3s linear; */

    /* -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out; */
  }


  /* .topnav:hover {
    -webkit-transform: translateY(2em);
    -moz-transform: translateY(2em);
    -o-transform: translateY(2em);
    -ms-transform: translateY(2em);
    transform: translateY(2em);
  } */

  .topnav.responsive {
    display: block;
height: 100vh;

  }

  .topnav.responsive li {
    padding-top: 0.8em;
  }

  .topnav.responsive li:first-child {
    padding-top: 0;
  }

  .mobile_nav {
    /* background: pink; */
    display: block;
    align-self: flex-end;
    font-size: var(--f2);
    font-weight: 700;
  }

  .container.responsive {
    background: var(--bgColor);
    height: 100vh;
    justify-content: flex-start;
  }
}


@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
