@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@media (max-width: 900px) {
  :root {
    --out_marg: 15px;
    --f1: 12px;
    --f2: 17px;
    --f3: 43px;
  }

  #container {
    background: var(--bgColor);
  }

  .noimg {
    width: auto;
  }

  p {
    /* text-align: justify; */
  }

  .tiny_title {
    /* display: none; */
    margin-left: 0;
  }

  .inner_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .header {
    padding-top: 0;
  }

  .container {
    background: none;
    height: auto;
    flex-direction: column;
    padding: var(--out_marg);
  }

  .topnav {
    height: auto;
    display: none;
  }

  .topnav.responsive {
    display: block;
    height: 100vh;
  }

  .topnav.responsive li {
    padding-top: 1em;
  }

  .topnav.responsive li:first-child {
    padding-top: 0;
  }

  .mobile_nav {
    /* background: pink; */
    display: block;
    align-self: flex-end;
    font-size: var(--f2);
    font-weight: 700;
  }

  a.mobile_nav {
    font-style: normal;
  }

  .container.responsive {
    background: var(--bgColor);
    height: 100vh;
    justify-content: flex-start;
  }

  .wrapper {
    flex-direction: column-reverse;
    height: auto;
  }

  .wrapper.vernissage {
    flex-direction: column;
  }

  .vernissage .text_left {
    /* background: pink; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* width: 35em; */
  }

  .vernissage .image_right {
    display: none;
    visibility: hidden;
  }

  .text_left {
    width: 100%;
    padding-top: 3em;
  }

  .excerpt {
    width: 100%;
  }

  .image_right {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .image_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .image_right.verkauf {
    display: none;
  }

  .mobile_gallery {
    display: flex;
    flex-direction: column;
    margin: var(--out_marg);
  }

  .img_wrapper {
    width: 100%;
  }

  .img_wrapper figcaption {
    padding-bottom: 10px;
  }

  .img_wrapper img {
    width: 100%;
    /* padding-bottom: 10px; */
  }

  .gallery_container {
    display: none;
  }

  /* .author.full {
    background: pink;
    display: none;
  } */

  .author.mobile {
    padding: 0;
    padding-bottom: var(--padTop);
    align-self: stretch;
    width: auto;
  }

  .author {
    /* width: 100%; */
  }



  .logo {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  svg {
    height: 4em;
    width: auto;
  }

  .m_title {
    display: block;
  }

  .header {
    padding: 0;
  }

  .footer.ohne {
    position: fixed;
    /* display: flex; */
    align-items: flex-end;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-image: linear-gradient(var(--bgColA), var(--bgColor) 75%);

  }

}
