h3 {
  padding-top: 2.5em;
}

.sponsors {
  display: flex;
  flex-direction: row-row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 10vh;
}

.sponsors img {
  width: 48%;
  height: auto;
}

.social svg {
  height: 2em;
}

/* .mail {
  padding: 0.75em 0 1.5em 0;
  padding-top: 0.75em;
}

.links {
  padding-bottom: 0.75em;
} */

.address {
  padding: 0.85em 0;
}


#insta {
  fill: var(--color);
  padding-right: 15px;
}

#fb {
  fill: var(--color);
  padding-right: 15px;
}

#tele {
  fill: var(--color);
}
